@import "../../vars.css";

.container{
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 15px;
    padding: 30px;
    margin: 7% 0 ;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImg{
    width: 35%;
    border-radius: 30px;
}

.aboutItems{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.aboutItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    margin-left: 50px;
    background-image: linear-gradient(90deg , rgba(165, 215, 232, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s ease-in;
}

.aboutItem:hover{
    background-size: 100% 100%;
}

.photoDesc{
    margin-left: 10px;
}

.aboutItem p {
    margin-top: 5px;
    font-size: 1.3rem;
}

.aboutItem h3{
    font-weight: 600;
    font-size: 1.5rem;
}

@media screen and (max-width: 830px) {
    .container, .aboutItem {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .content{
        flex-direction: column;
    }

    .aboutImg{
        display: none;
    }

    .aboutItems {
        margin-top: 29px;
    }

    .aboutItem{
        margin: 0;
    }
}