:root{
    /* colors */

    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #1937cd;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /* fonts */

    --font-roboto: "Roboto";
    
}